<form  {{action 'save' on='submit'}}>
	Pregunta
	{{input type='text' value=question.nombre}}
	Respuestas
	{{input type='checkbox' value=quetions.option}}
  {{input type='checkbox' value=quetions.option }}
  {{input type='checkbox' value=quetions.option}}
  {{input type='checkbox' value=quetions.option}}
	<br>
	<button {{action 'borrar'}}>Eliminar</button>
</form>
