<form  {{action 'save' on='submit'}}>
	Nombre Examen
	{{input type='text' value=test.nombre}}
	Fecha
	{{input type='date' value=test.fecha}}
	<br>
	<button {{action 'saveExamen'}}>Guardar</button>
	<button {{action 'borrar'}}>Eliminar</button>
</form>
